body {
  background: linear-gradient(#ffe6f0, #fff);
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Segoe UI', sans-serif;
}

.container {
  text-align: center;
}
@media (max-width: 600px){
h1 {
  color: #ff4d88;
  font-size: 30px;
}

h2 {
  color: #ff0066;
  font-size: 26px;
}
}
@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.gallery {
  margin-top: 30px;
}

.gallery h2 {
  color: #ff0066;
  font-size: 28px;
}

.gallery img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px #ff4d88;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
}